<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.component.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Nicdao - Contact Me</title>
</head>
<div class="header">
  
</div>
<body>

  <div class="main">
    <div class="bg">
      <div class="logo">
        <a routerLink= "../home" href="#"><img src={{logo}} alt=""></a>
      </div>
      <div id="base">
        
    </div>
    <div class="intro">  
      <h1>STAY CONNECTED.</h1><br>
    </div>
    <div class="projects">
        <div class="container">
            <form action="">
                <div class="textentry">
                <h3>NAME:</h3>
                <input type="text" placeholder="Firstname, Lastname M.I."><br>
                <h3>EMAIL:</h3>
                <input type="text" placeholder="example@email.com"><br>
                <h3>MESSAGE:</h3>
                <textarea name="" id="" cols="62" rows="15"></textarea><br>
                </div>
                <div class="submit">
                    <input type="submit" value="Submit">    
                </div>
            </form>
        </div>
    </div>
    <div class="sideline">
      <div class="vertline1"></div>
      <div class="icons">
        <a href="https://www.instagram.com/?hl=en"><img src={{inst}} alt="" class="logo1"></a>
      </div>
      <div class="icons">
        <a href="https://mail.google.com/"><img src={{gmail}} alt="" class="logo2"></a>
      </div>
      <div class="icons">
        <a href="https://www.facebook.com/"><img src={{fb}} alt="" class="logo3"></a>
      </div>
      <div class="vertline2"></div>
    </div>
    </div>
    </div>
    <footer>
      <div class="foot">
        <p>©Nodica. 2022</p><br>
        <div class="other">
            <div class="botlogo">
                <h4>CREATED BY:</h4>
              <a href="home.html"><img src={{logo}} alt=""></a>
            </div>
          <h4>STAY CONNECTED</h4>
          <tr>
              <td><a href="https://www.instagram.com/?hl=en"><img src={{inst}} alt=""></a></td>
              <td><a href="https://hau.instructure.com/"><img src={{email}} alt=""></a></td>
              <td><a href="https://www.viber.com/en/"><img src={{phone}} alt=""></a></td>
              <td><a href="https://www.facebook.com/justine.nicdao.5/"><img src={{fb}} alt=""></a></td>
              <td><a href="https://twitter.com/Nodica28"><img src={{twit}} alt=""></a></td>
          </tr>
          <div class="info">
              <h4>CONTACT INFO:</h4>
              <span>Email: </span><a href="https://mail.google.com/">justinenicdao05@gmail.com</a><br>
              <span>Student: </span><a href="https://hau.instructure.com/">janicdao@student.hau.edu.ph</a><br>
              <span>Mobile No.: </span><a href="https://www.viber.com/en/">+639650681793</a><br>
              <span>Location: </span><a href="https://goo.gl/maps/okFhWZ4eapF5EMUf6">Angeles City, Pampanga, Philippines</a><br>
              <span>Facebook: </span><a href="https://www.facebook.com/justine.nicdao.5/">facebook.com/justine.nicdao.5/</a><br>
          </div>
          <div class="navigate">
              <h4>NAVIGATE</h4>
              <a routerLink= "../home" href="#">Homepage</a><br>
              <a routerLink= "../about" href="#l">About Me</a><br>
              <a routerLink= "../portfolio" href="#">Projects</a><br>
              <a routerLink= "../skills" href="#">Skills</a><br>
              <a routerLink= "../contact" href="#">Contact Me</a><br>
          </div>
        </div>
        
      </div>
    </footer>
</body>

</html>