<nav>
    <a href="#" style="margin-left: 20px; text-decoration: none;">My Resume</a>
    <ul>
        <li><a routerLink= "../home" href="#">Home</a></li>
        <li><a routerLink= "../about" href="#">About</a></li>
        <li><a routerLink= "../skills" href="#">Skills</a></li>
        <li><a routerLink= "../portfolio" href="#">Portfolio</a></li>
        <li><a routerLink= "../contact" href="#">Contacts</a></li>
        <li class="num" style="color: white;">+639650681793</li>
    </ul>
</nav>
<main [@routeAnimations]="prepareRoute(outlet)" class="content" >
<router-outlet #outlet="outlet"></router-outlet>